<!-- Tab content: #About  —  included into index.html by assets/js/include.js
     Edit this file to change the "About" tab. Do NOT add <html>/<head>/<body> here. -->

<h2 class="major">About</h2>
	<figure style="float:left; width:300px; margin:0 20px 0px 0;">
		<img src="images/animals/me_plate.JPG" alt="test" style="width:100%; display:block;" />
		<figcaption style="text-align:center; font-size:0.5em; color:#d3d3d3; margin-top:4px;">
			Me and my dog Sadie (AKA Plate)
		</figcaption>
	</figure>

	<p>
		I am an astronomer completing a PhD studying the use of machine and deep learning 
		to improve the capabilities of astronomical instruments. I currently live in Sydney and study at Macquarie 
		University and previously studied at New York University and the University of Denver. I grew up Scottsdale, 
		Arizona with my family — including my dogs.
	</p>
	<p>
		Despite growing up in a family of current and future lawyers, I was always interested in science. Whether it 
		was through sci-fi like Star Wars, shows like Bill Nye the Science Guy or Mythbusters, and actually being able 
		to pay attention during science courses, I was destined for STEM, but it was a summer camp in northern 
		Wisconsin where I really first fell in love with the stars. This interest grew in high school while taking an 
		Astronomy course. The summer camp is also where my interest in outreach began.
	</p>
	<p>
		Beyond astronomy, I love sci-fi and fantasy media and am always accepting book and movie recommendations to add
		to my ever-expanding list of things to read or watch. I like to spend my time playing board games and Dungeons & 
		Dragons with friends. I am also a massive aquariums and zoos. FInally, I love to <a href="#Baking">bake</a>. I 
		really enjoy figuring out the science of baking, developing my own recipes, and sharing what I make.
	</p>


<h2 class="major">Pets and Animal Friends</h2>
	<!-- <div class="row">
		<div class="column">
			<img src="images/animals/54750AC4-B174-4210-9597-B8DCED5C8BB0.jpg" style="height:500px">
			<img src="images/pic02.jpg" style="height:75px">         			
		</div>
		<div class="column">

		</div>
	</div> -->
	<div class="row">

		<div class="column">
			<img src="images/animals/54750AC4-B174-4210-9597-B8DCED5C8BB0.jpg" style="height:500px">
			<img src="images/animals/IMG_8275.jpeg" style="height:500px">
			<img src="images/animals/IMG_9096.jpeg" style="height:500px">
			<img src="images/animals/IMG_9989.jpeg" style="height:750px">
			<img src="images/animals/IMG_8477.jpeg" style="height:750px">
			<img src="images/animals/IMG_9211.jpeg" style="height:375px">
			<img src="images/animals/IMG_8975.jpeg" style="height:375px">
			<img src="images/animals/IMG_9988.jpeg" style="height:375px">
			<img src="images/animals/IMG_8812.jpeg" style="height:375px">
			<img src="images/animals/IMG_9242.jpeg" style="height:375px">
		</div>

		<!-- <div class="column">
			<img src="images/pic01.jpg" style="height:75px">
			<img src="images/pic02.jpg" style="height:75px">
			<img src="images/pic03.jpg" style="height:75px">
		</div> -->

	</div>
